.links {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.link-item  {
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hum-icon {
    width: 120px;
    height: 120px;
  }

.menudisplay {
padding-right: 20px;
}

.logo {
    padding-left: 20px;
}

.mobile-head {
    background-color:cyan;
}

@media screen and (min-width: 913px) {
    .mobile-head {
        display: none;
    }
  }