.detail-section {
  padding: 10px;
  text-align: center;
}

.profile-pic {
  padding-left: 20px;
  padding-top: 20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile-name {
  margin: 20px auto 10px;
}

.bio-head {
  padding-top: 10px;
  // font-size: 30px;
}

.bio {
  padding: 5px 20px 10px 20px;
  font-size: 0.6rem;
}

.lawyer-items {
  list-style: none;
  margin: auto;
  margin-top: 50px;
}

.inner-listing {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
}

.resrvebtn {
  margin-top: 25px;
}

@media screen and (min-width: 913px) and (max-width: 1199px) {
  .detail-section {
    display: flex;
    align-content: center;
    width: 100vw;
    height: 100vh;
  }

  .bio {
    font-size: 0.9rem;
  }

  .profile-pic {
    width: 190px;
    height: 200px;
    margin: 30px auto;
  }

  .top-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
  }

  .profile-name {
    font-size: 1.5rem;
  }

  .bottom-details {
    flex-direction: column;
    align-items: center;
    margin-top: 33vh;
  }

  .lawyer-items li {
    font-size: 1rem;
  }

  .inner-listing {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .detail-section {
    display: flex;
  }

  .profile-pic {
    width: 320px;
    height: 330px;
    margin: 30px auto;
  }

  .top-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .profile-name {
    font-size: 1.5rem;
  }

  .bio {
    font-size: 1.2rem;
  }

  .bottom-details {
    flex-direction: column;
    align-items: center;
    margin: auto 2vw;
  }

  .lawyer-items li {
    font-size: 2rem;
    padding: 10px 4px;
  }

  .inner-listing {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
