.lawyers-table,
.row-header,
.row-body,
.flex-cols,
.fixed-col {
  display: flex;
}

.flex-cols,
.fixed-col {
  flex-direction: column;
}

.lawyers-table {
  border: 1px solid;
  background-color: black;

  &,
  .flex-cols,
  .fixed-col,
  .row-header,
  .row-body {
    gap: 1px;
  }

  .flex-cols {
    flex-grow: 1;
    overflow: auto;
  }

  .fixed-col {
    min-width: 95px;

    .header-col {
      flex-grow: 1;
    }

    > :last-child {
      flex-grow: 1;
      align-items: flex-start;
      background-color: white;
    }
  }

  .header-col,
  .body-col {
    text-align: center;
    white-space: nowrap;
    padding: 0.2rem 0.5rem;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .header-col {
    font-weight: bold;
  }

  .col-id {
    min-width: 40px;
    max-width: 50px;
  }

  .col-name {
    min-width: 120px;
    flex-grow: 1;
  }

  .col-created,
  .col-updated {
    width: 25%;
    max-width: 200px;
    min-width: 120px;
  }

  .col-actions {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;

    a {
      font-size: 1.266rem;
    }

    button {
      font-size: 1.18rem;
    }
  }
}

.nodata-row {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  background-color: white;
  padding: 0.2rem 0.5rem;
}
