.reservationtop {
    margin-top: 60px;
}


.reservation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 78%;
    margin: 10px auto;
    border: 2px solid black;  
    box-shadow: 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.reservationbtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reservationdeatails {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.button {
    width: 40% !important;
}

@media screen and (min-width: 700px) {
    .reservation {
        display: flex;
        flex-direction: row;
    }

    .reservationdeatails {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0;
    }

    .reservationbtns {
         flex-direction: column;
         justify-content: space-around;
    }
}

