.sidebar {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 999;

  nav {
    padding: 0;
  }

  @media (min-width: 992px) {
    position: static;
    flex-shrink: 0;
    width: 25%;
    min-width: 270px;
    max-width: 400px;
    border-right: 1px solid lightgray;

    .navbar-expand-lg {
      height: 100%;
    }

    .offcanvas {
      height: 100%;
    }

    .offcanvas-body {
      height: 100%;
      padding-left: 0.7rem;
    }

    .logo {
      font-size: 3rem;
      transform: rotate(-13deg);
    }
  }
}

.logo {
  font-family: 'Water Brush', cursive;
  font-size: 2.7rem;
  transform: rotate(-13deg) translateY(0.8rem);
  display: block;
}

.offcanvas-start {
  width: 80%;
  max-width: 320px;
  min-width: 255px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 4rem;

  @media (max-width: 375px) {
    margin-top: 2rem;

    .link-item {
      padding: 7px 7px 7px 15px;
      font-size: 1.3rem;
    }
  }
}

.link-item {
  padding: 15px 15px 15px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Righteous;
  font-weight: bold;
  color: $secondary;
}

.social-icons {
  a {
    color: $secondary;
  }
}

.signout-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2828287d
}
