.logo {
  font-family: 'Water Brush', cursive;
  font-size: 2rem;
  transform: rotate(-13deg) translateY(0.8rem);
  display: block;
}

.offcanvas-start {
  max-width: 320px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 4rem;
}

.link-item {
  padding: 15px 15px 15px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Righteous;
  font-weight: bold;
  color: $secondary;
}

.social-icons {
  a {
    color: $secondary;
  }
}
